/* Container Styles */
.container1 {
  display: flex;
  font-size: 10px;
  padding: 30px; /* Increased padding for better spacing */
  background-color: #ffffff;
  font-family: sans-serif;
  box-sizing: border-box; /* Ensure padding is included in the total width */
}

/* Left Section Styles */
.left-section {
  flex: 1;
  max-width: 50%;
  margin-right: 20px; /* Reduced margin to improve layout on smaller screens */
}

.left-section h1 {
  font-size: 3rem; /* Changed to rem for consistency */
  font-weight: bold;
  margin-bottom: 30px; /* Increased margin for better spacing */
  color: #333; /* Added color for better contrast */
}

.left-section p {
  font-size: 1.5rem; /* Changed to rem for consistency */
  margin-bottom: 20px; /* Increased margin for better spacing */
  color: #555; /* Added color for better readability */
}

/* Right Section Styles */
.right-section {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

/* Feature Item Styles */
.feature-item {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px; /* Added padding for better spacing */
  margin-bottom: 20px; /* Increased margin for better separation */
}

.feature-content h2 {
  font-size: 1.5rem; /* Changed to rem for consistency */
  font-weight: bold;
  margin-bottom: 10px; /* Increased margin for better spacing */
  color: #000000; /* Added color for better contrast */
}

.feature-content p {
  font-size: 1rem; /* Changed to rem for consistency */
  margin-bottom: 10px; /* Increased margin for better spacing */
  color: #6c757d; /* Added color for better readability */
}

.feature-content ul {
  list-style-type: disc;
  margin: 10px 0 0; /* Adjusted margin for better spacing */
  padding-left: 20px;
}

.feature-content li {
  font-size: 1.25rem; /* Changed to rem for consistency */
  margin-bottom: 5px; /* Adjusted margin for better spacing */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container1 {
    flex-direction: column;
    padding: 20px; /* Reduced padding for smaller screens */
  }

  .left-section,
  .right-section {
    max-width: 100%; /* Set to 100% for better responsiveness */
    margin-right: 0; /* Removed margin for full-width layout */
  }

  .feature-item {
    margin-bottom: 20px; /* Increased margin for better separation */
  }
}

@media (max-width: 480px) {
  .left-section h1 {
    font-size: 2rem; /* Adjusted for smaller screens */
  }

  .left-section p {
    font-size: 1rem; /* Adjusted for smaller screens */
  }

  .feature-content h2 {
    font-size: 1rem; /* Adjusted for smaller screens */
  }

  .feature-content p {
    font-size: 0.875rem; /* Adjusted for smaller screens */
  }

  .feature-content li {
    font-size: 1rem; /* Adjusted for smaller screens */
  }
}
