/* Container Styles */
.component2-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Changed to flex-start for better alignment */
  padding: 50px;
  background-color: #EDF2F4;
  font-family: sans-serif;
}

/* Left Section Styles */
.left-section {
  max-width: 45%;
}

.image-preview {
  width: 100%;
  border-radius: 8px;
  border: black 2px solid;
}

/* Right Section Styles */
.right-section {
  max-width: 50%;
}

.right-section h1 {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.right-section p {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 20px;
}

.right-section ul {
  list-style-type: none;
  padding: 0;
}

.right-section li {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.right-section li::before {
  content: '✔️';
  margin-right: 10px;
  color: #6c63ff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .component2-container {
    flex-direction: column;
    padding: 20px; /* Reduced padding for smaller screens */
  }

  .left-section,
  .right-section {
    max-width: 100%; /* Set to 100% for better responsiveness */
    margin-right: 0; /* Removed margin for full-width layout */
    margin-bottom: 20px; /* Added margin-bottom for spacing */
  }
}

@media (max-width: 480px) {
  .right-section h1 {
    font-size: 1.5em; /* Adjusted for smaller screens */
  }

  .right-section p,
  .right-section li {
    font-size: 1em; /* Adjusted for smaller screens */
  }
}
