.pdf-container {
  padding-top: 80px;
  width: 100%;
  background-color: #edf2f4;
  padding-bottom: 30px;
  flex-direction: column;
  height: fit-content;
  text-align: center;
}

.container {
  background-color: #edf2f4;
  width: 80%;
  margin: 0 auto;
}

.container h1 {
  font-family: "Jacques Francois";
  font-size: 50px;
  padding-top: 120px;
}

.container p {
  font-family: "Jacques Francois";
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: -20px;
}

.file-upload {
  border: dashed 2px gray;
  width: 580px;
  height: 210px;
  margin: 8px auto;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .container h1 {
    font-size: 2rem; /* Adjust font size for tablets */
    padding-bottom: 10px;
  }

  .file-upload {
    width: 80%; /* Adjust width for tablets */
  }
  .container p {
    font-size: 0.875rem;
     /* Adjust font size for mobile devices */
  }
  .pdf-preview-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }
}

@media (max-width: 768px) {
  .container h1 {
    font-size: 1.5rem;
    /* Adjust font size for mobile devices */
  }

  .container p {
    font-size: 0.875rem;
     /* Adjust font size for mobile devices */
  }

  .file-upload {
    width: 100%; /* Full width on mobile devices */
  }

  .pdf-preview-container {
    gap: 10px; /* Reduce gap between items on mobile */
    padding: 0 32px;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .container h1 {
    font-size: 1.10rem; /* Further adjust font size for very small screens */
  }

  .container p {
    font-size: 0.75rem; /* Further adjust font size for very small screens */
  }

  .file-upload {
    height: auto; 
    padding-right: 100px;
    align-items: center;/* Adjust height to fit content */
  }

  .pdf-preview {
    width: 100%; /* Full width on very small screens */
  }
  .pdf-preview-container {
    flex-direction: column;
    padding: 0 32px; /* Stack items vertically on smaller screens */
  }
}

.file-upload p1 {
  margin-bottom: 1px;
  font-size: 14px;
}

.file-upload p {
  margin-top: 10px;
  font-size: 16px;
  padding-top: 40px;
  color: gray;
}

.file-upload a {
  color: blue;
}


.file-upload {
  margin-bottom: 20px;
}

.pdf-preview-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* add some margin for better visibility */
  flex-direction: column;
 
}

.pdf-preview {
  max-width: 80%;
}

@media (hover: hover) {
  #creditcard {
    transform: translateY(110px);
    transition: transform 0.1s ease-in-out;
  }

  #money {
    transform: translateY(180px);
    transition: transform 0.1s ease-in-out;
  }

  .btnwallet button:hover #creditcard {
    transform: translateY(0px);
    transition: transform 0.2s ease-in-out;
  }

  .btnwallet button:hover #money {
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.25rem);
  }
  100% {
    transform: translateY(0);
  }
}

.btnwallet .button:hover .btnwallet .button__text span {
  transform: translateY(-0.25rem);
  transition: transform 0.2s ease-in-out;
}

.btnwallet .button {
  border: none;
  outline: none;
  background-color: purple;
  padding: 1rem 80px 1rem 2rem;
  position: relative;
  border-radius: 8px;
  letter-spacing: 0.7px;
  background-color: #d90429;
  color: #fff;
  font-size: 21px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
  margin-top: 35px;
}

.btnwallet .button:active {
  transform: translateY(1px);
}

.btnwallet .button__svg {
  position: absolute;
  overflow: visible;
  bottom: 6px;
  right: 0.2rem;
  height: 140%;
}

.btn-77,
.btn-77 *,
.btn-77 :after,
.btn-77 :before,
.btn-77:after,
.btn-77:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-77 {
  -webkit-tap-highlight-color: transparent;
  background-color: #5086bd; /* Button background color */
  color: #fff;
  align-self: center;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 120%;
  line-height: 0.2;
  margin: 2px;
  padding: 0;
}

.btn-77:disabled {
  cursor: default;
}

.btn-77:-moz-focusring {
  outline: auto;
}

.btn-77 svg {
  display: block;
}

.btn-77 [hidden] {
  display: none;
}

.btn-77 {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  border: 1px solid;
  border-radius: 999px;
  box-shadow: 0 0 0 2em transparent;
  box-sizing: border-box;
  display: block;
  font-weight: 800;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ffffff;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ffffff;
  }
}

/* Hover effect */
.btn-77:hover {
  background-color: #f13f51; /* Change background color on hover */
  color: #fff; /* Ensure text color remains readable */
  opacity: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.choose-action-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Arial", sans-serif;
  margin: 20px;
}

.choose-action-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.choose-action-container select {
  width: 200px;
  padding: 10px;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.choose-action-container select:focus {
  border-color: #48719a;
}

.choose-action-container option {
  padding: 10px;
}

.delete-page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Arial", sans-serif;
  margin: 20px;
}

.delete-page-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.delete-page-container input {
  width: 200px;
  padding: 10px;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.delete-page-container input:focus {
  border-color: #000000;
}

.delete-page-container input:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.add-page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Arial", sans-serif;
  margin: 20px;
}

.add-page-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.add-page-container input[type="file"] {
  padding: 10px;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.add-page-container input[type="file"]:focus {
  border-color: #48719a;
}

.password-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Arial", sans-serif;
  margin: 20px;
}

.password-input-container input[type="password"] {
  padding: 10px;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s, background-color 0.3s;
  width: 100%;
  max-width: 400px;
}

.password-input-container input[type="password"]:focus {
  border-color: #48719a;
  background-color: #fff;
}

.password-input-container input[type="password"]:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.rotation-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Arial", sans-serif;
  margin: 20px;
}

.rotation-input-container label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.rotation-input-container input[type="number"] {
  padding: 10px;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s, background-color 0.3s;
  width: 100%;
  max-width: 200px;
}

.rotation-input-container input[type="number"]:focus {
  border-color: #48719a;
  background-color: #fff;
}

.split-option-container {
  font-family: "Arial", sans-serif;
  margin: 20px;
  
}

.split-option-container label {
  
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  cursor: pointer;
}


.split-option-container label:hover {
  color: #000000;
}

.split-option-container input[type="number"] {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  
}

.split-option-container input[type="number"]:focus {
  outline: 2px solid #48719a;
}

.file-upload {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.file-preview-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.merge-download-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

/* General Mobile Styles */
@media (max-width: 767px) {
  .pdf-container {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .container {
    width: 90%; /* Full width with some margin on mobile */
    padding: 10px; /* Reduce padding on mobile */
  }

  .container h1 {
    font-size: 1.75rem; /* Adjust font size for smaller screens */
    padding-top: 80px;
  }

  .container p {
    font-size: 0.875rem; /* Adjust font size for readability */
    margin-top: 0; /* Remove negative margin */
  }

  .file-upload {
    width: 100%; /* Full width for better mobile view */
    height: auto; /* Adjust height to fit content */
    padding: 0px; /* Reduce padding */
    margin-right: 30px;
  }

  .file-upload p1 {
    font-size: 12px; /* Adjust font size */
  }

  .file-upload p {
    font-size: 14px; /* Adjust font size */
    padding-top: 20px; /* Reduce padding */
  }

  .pdf-preview-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center-align items */
    gap: 15px; /* Reduce gap between items */
    padding: 0 32px;
  }

  .pdf-preview {
    width: 100%; /* Full width on mobile devices */
    height: auto; /* Maintain aspect ratio */
  }

  .btnwallet .button {
    font-size: 18px; /* Adjust button font size */
    padding: 0.75rem 1.5rem; /* Adjust button padding */
  }

  .btn-77 {
    font-size: 100%; /* Adjust button font size */
    padding: 1rem 2rem; /* Adjust button padding */
  }

  .choose-action-container select,
  .delete-page-container input,
  .add-page-container input[type="file"],
  .password-input-container input[type="password"],
  .rotation-input-container input[type="number"] {
    width: 100%; /* Full width inputs */
    font-size: 0.875rem; /* Adjust font size */
  }

  .split-option-container {
    font-size: 14px; /* Adjust font size for mobile */
  }

  .split-option-container input[type="number"] {
    width: 100%; /* Full width input */
    margin-top: 5px; /* Reduce margin */
  }
}
