.main-content {
  padding-top: 90px;
  text-align: center;
  background-color: #edf2f4;
  width: 100%;
}

.main-content h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.main-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .main-content h1 {
    font-size: 2rem;
  }

  .main-content p {
    font-size: 1rem;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 480px) {
  .main-content h1 {
    font-size: 1.5rem;
  }

  .main-content p {
    font-size: 0.875rem;
  }
}
