.tools-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  gap: 40px; 
  text-align: center;
  justify-content: center;  
  margin: 0 auto;  
  max-width: 1200px;
  background-color: #EDF2F4;
}

.tool {
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  padding: 25px;
  padding: 0 32px;
  width: 230px;
  height: 250px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content */
  justify-content: center; /* Center the content */
  box-shadow: 7px 9px 15px rgba(118, 118, 118, 0.8); /* Broader black shadow */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transition */
}

.tool:hover {
  cursor: pointer; /* Pointer cursor on hover */
  transform: translateY(-5px); /* Slightly lift the element */
  box-shadow: 10px 12px 20px rgba(118, 118, 118, 1); /* Darker shadow on hover */
}


.tool h3 {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  text-align: center; /* Center the heading */
}

.tool p {
  font-family: sans-serif;
  color: #000000;
  text-align: center; /* Center the paragraph */
}

.tool-icon {
  font-size: 40px;  
  color: #D90429; /* Set icon color to white */
  margin-bottom: 15px; /* Add some spacing below the icon */
}

@media (max-width: 1200px) {
  .tools-container {
    grid-template-columns: repeat(3, 1fr);  
  }
}

@media (max-width: 992px) {
  .tools-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .tools-container {
    grid-template-columns: 1fr;
    padding: 0 32px;
  }
}

  .tool-icon {
    font-size: 45px;  
    color: #d31414; /* Ensure icon color remains white */
  }

  .tool h3 {
    font-size: 1.2em;  
  }

  .tool p {
    font-size: 0.9em;  
  }
